body {
	background: #f4f4f4;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a, img {
    border:none;
}

.wide_header {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #DBDBDB;
	margin-bottom: 32px;
}
.wide_950 {
	margin: 0 auto;
	width: 950px;
	position: relative;
}

.logo {
	display: block;
	padding-top: 11px;
	float: left;
}
#header {
	height:87px;
}
.slogan_area {
	margin-left: 30px;
	border-left: 1px solid #DBDBDB;
	height: 100%;
	vertical-align: center;
	float: left;
}
.slogan {
	font-family: 'HelveticaNeueLTStd57Condensed', arial, sans-serif !important;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	color: #d6d6d6;
	font-size: 20px;
}
.slogan_area .slogan {
	padding: 25px 20px;
}
#container{
	width: 960px;
	float: left;
}
.body_copy {
	width: 390px;
	padding: 0 15px;
	color:#808080;
	font-family: "HelveticaNeueLTStd57Condensed";
	font-size: 18px;
	float: left;
}

.body_copy ul {
	padding: 0;
}

.body_copy li {
	list-style: none;
	padding-left: 10px;
	border-left: 5px solid #efc52c;
	font-family: "HelveticaNeueLTStd67MediumCondensed", helvetica, arial !important;
	font-size: 26px;
	margin-top: 10px;
}
.dotted {
	border-top: 1px dotted #dbdbdb;
	border-bottom: 1px dotted #dbdbdb;
	height: 2px;
	margin-bottom: 20px;
}

#video {
	float: left;
	width: 524px;
	height: 276px;
	z-index: 10;
	position: relative;
}

.cars {
	position: absolute;
	bottom: 29px;
	right: 0;
	width: 600px;
	height: 93px;
}

.cars li{
	list-style: none;
	float: left;
	overflow: hidden;
	position: absolute;
	width: 95px;
	height: 81px;
}
.vw {
	right:360px;
}
.audi {

	right:185px;
}
.sk {
	right:17px;
}

.footer {
	text-align: center;
	font-size: 12px;
	color: #5a5a5a;
	float: left;
	position: relative;
	left:130px;
}

.footer a {
	color: #7c7c7c;
	margin: 0 5px;
	text-decoration: none;
}

.brand {
	float: left;
}

.brand a {
	height: 33px;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: auto 100%;
	position: relative;
	display: block;
	float: left;
}

.brand .volkswagen_icon {
	background-image: url("imgs/vk_footer.png");
	width: 57px;
}
.brand .audi_icon {
	background-image: url("imgs/audi_footer.png");
	width: 80px;

}
.brand .skoda_icon {
	background-image: url("imgs/skoda_footer.png");
	width: 48px;

}
.brand .volkswagen_comercial_icon {
	background-image: url("imgs/vk_comer_footer.png");
	width: 57px;

}

#rrss {
	position: relative;
	float: right;
	top: -50px;
	left: 570px;
}

.social {
	color: #069dce;
	text-align: center;
	font-size: 13px;
	position: relative;
	float: right;
	top: -10px;
}

.cars li img {
	position: relative;
	margin: 0 auto;
	display: block;
	cursor:pointer;
	top: 10px;
}

#video iframe {
	position: relative;
	top: -295px;
	width: 476px;
	left: 25px;
	float: left;
} 

.fondo {
	position: relative;
	display: block;	
}



/***********************FONTS***********************/

.yellow {
	color: #efc52c;
}
.big {
	font-size: 32px;
	font-family: "HelveticaNeueLTStd67MediumCondensed" , helvetica, arial !important;
}
.medium {
	font-size: 26px;
}
.bold {
	font-family: "HelveticaNeueLTStd67MediumCondensed" , helvetica, arial !important;
}

@font-face {
    font-family: 'HelveticaNeueLTStd67MediumCondensed';
    src: url('fonts/helveticaneueltstd-mdcn.eot');
    src: url('fonts/helveticaneueltstd-mdcn.eot') format('embedded-opentype'),
         url('fonts/helveticaneueltstd-mdcn.woff') format('woff'),
         url('fonts/helveticaneueltstd-mdcn.ttf') format('truetype'),
         url('fonts/helveticaneueltstd-mdcn.svg#HelveticaNeueLTStd67MediumCondensed') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueLTStd77BoldCondensed';
    src: url('fonts/helveticaneueltstd-bdcn.eot');
    src: url('fonts/helveticaneueltstd-bdcn.eot') format('embedded-opentype'),
         url('fonts/helveticaneueltstd-bdcn.woff') format('woff'),
         url('fonts/helveticaneueltstd-bdcn.ttf') format('truetype'),
         url('fonts/helveticaneueltstd-bdcn.svg#HelveticaNeueLTStd77BoldCondensed') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueLTStd57Condensed';
    src: url('fonts/helveticaneueltstd-cn.eot');
    src: url('fonts/helveticaneueltstd-cn.eot') format('embedded-opentype'),
         url('fonts/helveticaneueltstd-cn.woff') format('woff'),
         url('fonts/helveticaneueltstd-cn.ttf') format('truetype'),
         url('fonts/helveticaneueltstd-cn.svg#HelveticaNeueLTStd57Condensed') format('svg');
}